<h2>Portfolio Items</h2>
<%= link_to "New Portfolio", new_portfolio_path %><br>

<% @portfolio_items.each do |portfolio_item| %>
  <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %>
  <br>
  <%= portfolio_item.subtitle %>
  <br>
  <%= portfolio_item.body %>
  <br>
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  <%= link_to 'Edit', edit_portfolio_path(portfolio_item) %>
  <%= link_to 'Delete', portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } %>
 <br>
 <br>
<% end %>